     <%- include('partials/header.ejs') %>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-server text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">No of Projects</p>
                      <p class="card-title"><%= userData[0].pcount %><p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
           <% if(JSON.stringify(session_role)==3){
            }else{%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-people text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">No of Employees</p>
                      <p class="card-title"><%= userData[0].ucount %><p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          <% } %>
            <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-list-task text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">No of tasks</p>
                      <p class="card-title"><%= countData[0].tcount %><p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
         
         </div>
       
     
    </div>
  <%- include('partials/footer.ejs') %>